{{!-- Form add employee --}}
<div class="form-create-container">
    <form method="POST" action="/manage/postCreateEmp">
        <div class="form-create-group">
            <label for="name">Name:</label>
            <input name="name" id="name" required>
        </div>
        <div class="form-create-group">
            <label for="identity-card">Identity Card:</label>
            <input name="identityCard" id="identityCard" required>
        </div>
        <div class="form-create-group">
            <label for="birth">Birth:</label>
            <input type="date" name="birth" id="birth" required>
        </div>
        <div class="form-create-group">
            <label for="salary">Salary:</label>
            <input type="number" name="salary" id="salary" required>
        </div>
        <div class="form-create-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>