<div class="signup-container">
    <h1>Sign In</h1>
    <div class="default-user">
        <li>admin@gmail.com</li>
        <li>1234</li>
    </div>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}

    <!-- Form đăng nhập -->
    <form class="signup-form" action="/auth/signin" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="button">Sign In</button>

    </form>
    <p class="switch-link">Don't have an account? <a href="/auth/page-signup">Sign up now</a></p>
    <hr>
    <p class="text-center">Or sign in with:</p>
    <div class="d-flex justify-content-center icon-signin">
        <a class="option-signin-icon" href="/auth/google" class="btn mr-2">
            <img src="../../../public/img/google.png" alt="">
        </a>
        <a class="option-signin-icon" href="/auth/facebook" class="btn">
            <img src="../../../public/img/facebook.png" alt="">
        </a>
    </div>
</div>