@charset "UTF-8";
.avatar-img {
  width: 30px;
  height: 30px; }

/* Căn lề và vị trí dropdown */
.dropdown {
  position: relative;
  display: flex;
  /* Sử dụng flexbox để đảm bảo "Avatar" và "Name" nằm trên cùng một hàng */
  align-items: center;
  /* Căn giữa các phần tử theo chiều dọc */ }

.name {
  /* Căn chỉnh kiểu chữ, kích thước, v.v... */
  margin-left: 15px;
  font-size: 10;
  /* Để tạo khoảng cách giữa avatar và tên người dùng */ }

.avt-name {
  right: 100px;
  width: 60px;
  height: 60px; }

.avatar-username {
  width: 200px; }

/* Hiển thị nội dung dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Hiển thị các mục trong dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Khi di chuột vào các mục trong dropdown */
.dropdown-content a:hover {
  background-color: #f1f1f1; }

/* Hiển thị dropdown khi hover vào avatar và tên người dùng */
.dropdown:hover .dropdown-content {
  display: block; }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  border: none;
  background-color: transparent; }

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.task-box {
  width: 200;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; }

.task-box img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle; }

.task-box p {
  margin: 0;
  display: inline;
  vertical-align: middle; }

.link-from-offcanvas {
  color: black;
  text-decoration: none; }

.tittle-work-space {
  font-size: 5; }

.signup-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }

h1 {
  color: #333; }

.signup-form {
  margin-top: 20px;
  text-align: left; }

.form-group {
  margin-bottom: 10px; }

label {
  display: block;
  font-weight: bold; }

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc; }

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
  margin-top: 10px; }

.button:hover {
  background-color: #45a049; }

.switch-link {
  text-align: center; }

body {
  font-family: Arial, sans-serif; }

table {
  width: 100%;
  border-collapse: collapse; }

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; }

table th {
  background-color: #f2f2f2;
  font-weight: bold; }

table td.actions {
  width: 200px; }

table th.actions {
  text-align: center; }

table td:last-child {
  text-align: center;
  white-space: nowrap; }

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; }

.update-btn {
  background-color: #4CAF50;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.form-action-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  /* Hiển thị các phần tử trên cùng một hàng */
  align-items: center; }

.form-action-container label {
  margin-right: 10px;
  /* Khoảng cách giữa label và select */ }

.form-action-container select,
.form-action-container button {
  padding: 10px;
  font-size: 16px; }

.form-action-container button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; }

.img-link img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-left: 15px; }

.form-create-container {
  width: 400px;
  margin: 0 auto; }

.form-create-group {
  margin-bottom: 15px; }

.form-create-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

.form-create-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.form-create-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.form-create-group button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
