<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/manage">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" width="30" height="24">
        </a>
        <div class="tittle">
            <h1>Employees Management</h1>
        </div>
        <div class="navbar-brand">
            <li class="dropdown">
                <img src="../../../public/img/user.png" alt="avatar" class="avatar-img">
                <div class="dropdown-content">
                    <a href="#">Edit Profile</a>
                    <a href="/manage/trash">Trash</a>
                    <a href="/#">Sign Out</a>
                </div>
            </li>
        </div>
        <p class="avatar-img"></p>

    </div>
</nav>