<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/manage">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" width="30" height="24">
        </a>
        <div class="tittle">
            <h1>Employees Management</h1>
        </div>
        <div class="dropdown navbar-brand">
            {{#if username}}
            <div class=" avatar-username" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../public/img/user.png" alt="avatar" class="avatar-img">
                <p class="username-name">{{username.surname}} {{username.firstname}}</p>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li><a class="dropdown-item" href="/manage/trash">Trash</a></li>
                <li><a id="signoutLink" class="dropdown-item" href="/auth/signout">Sign Out</a></li>
            </ul>
            {{/if}}
        </div>

    </div>
</nav>

<script>
    const signOutLink = document.getElementById('signoutLink')
    if (signOutLink) {
        signOutLink.addEventListener('click', async function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>.
            try {
                const response = await fetch('/auth/signOut', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },

                });

                if (response.ok) {
                    window.location.href = '/auth/page-signin'; 
                } else {
                    console.error('Logout failed');
                }
            } catch (error) {
                console.error(error);
            }
        });
    }

</script>