<h1>I haven't made a dashboard yet, so please understand</h1>
<a href="/manage">
    <button>Click here to show employees</button>
</a>
<a href="/chatbox">
    <button>Click here to chatbox</button>
</a>