<div class="main-dashboard">
    <div class="dashboard-items">
        <div class="d-flex flex-row">
            {{!-- <p>Welcome Doan Ngoc Khuong</p> --}}
            <div class="p-2">Phần tử 1</div>
            <div class="p-2">Phần tử 2</div>
            <div class="p-2">Phần tử 3</div>
        </div>
    </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>