<div id="timekeeping-body">
    <div id="clock">00:00:00</div>
    <button id="startButton">Bắt đầu</button>
    <div id="timeList">
        <ul>
            <li>3:23:12</li>
            <li>7:51:02</li>
            <li>1:19:44</li>
        </ul>
    </div>
</div>

<script>
    console.log(Date().now())
</script>