.avatar-img {
    width: 30px;
    height: 30px;
}

/* Căn lề và vị trí dropdown */
.dropdown {
    position: relative;
    display: flex;
    /* Sử dụng flexbox để đảm bảo "Avatar" và "Name" nằm trên cùng một hàng */
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
}

.name {
    /* Căn chỉnh kiểu chữ, kích thước, v.v... */
    margin-left: 10px;
    /* Để tạo khoảng cách giữa avatar và tên người dùng */
}

/* Hiển thị nội dung dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Hiển thị các mục trong dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Khi di chuột vào các mục trong dropdown */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Hiển thị dropdown khi hover vào avatar và tên người dùng */
.dropdown:hover .dropdown-content {
    display: block;
}